<div *ngIf="pantry">
	<h3 class="white-text">Select a drink:</h3>
	<div class="container">
		<div class="row">
			<div class="col-sm">
				<button type="button" class="btn" (click)="OrderDoubleAmericano()">
					<img class="coffee-button" src="../../assets/img/americano.png" />
				</button>
			</div>
			<div class="col-sm">
				<button type="button" class="btn" (click)="OrderSweetLatte()">
					<img class="coffee-button" src="../../assets/img/latte.png" />
				</button>
			</div>
			<div class="col-sm">
				<button type="button" class="btn" (click)="OrderFlatWhite()">
					<img class="coffee-button" src="../../assets/img/flatwhite.png" />
				</button>
			</div>
		</div>
	</div>
	<pantry-orders></pantry-orders>
	<div class="container">
		<div id="divReportButtons" class="row">
			<div class="col-sm">
				<remaining-stocks-report></remaining-stocks-report>
			</div>
			<div class="col-sm">
				<drinks-ordered-report></drinks-ordered-report>
			</div>
		</div>
	</div>
</div>

<ngx-smart-modal #orderProgressModal identifier="orderProgressModal" [closable]="false">
	<div class="container">
		<div class="modal-progress">
			<h3 *ngIf="isBusy && !isError">Serving up {{coffeeName}}, please wait...</h3>
			<h3 *ngIf="!isBusy && !isError">Enjoy your {{coffeeName}}!</h3>
			<h3 *ngIf="isError" class="red-text">{{errorMessage}}</h3>
		</div>
		<div>
			<i *ngIf="isBusy && !isError" class="fas fa-spinner plain-icon"></i>
			<i *ngIf="!isBusy && !isError" class="fas fa-coffee plain-icon"></i>
			<i *ngIf="isError" class="fas fa-exclamation-triangle red-icon"></i>
		</div>
	</div>
</ngx-smart-modal>